.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background: #f1ebeb;
    border-radius: 50%;
    margin: 50px auto;
    content: "";
}
.clock:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    z-index: 99;
    border-radius: 50%;
    background-color: black;
}

.segundero, .minutos, .horas {
    position: absolute;
    background: #000;
    transform-origin: 50% 100%;
    left: 50%;
    top: 50%;
}

.segundero {
    width: 2px;
    height: 80px;
    margin-left: -1px; 
    margin-top: -80px; 
    animation: rotate-sec 60s linear infinite;
}

.minutos {
    width: 3px;
    height: 60px;
    margin-left: -1.5px; 
    margin-top: -60px; 
    animation: rotate-min 3600s linear infinite;
}

.horas {
    width: 4px;
    height: 40px;
    margin-left: -2px; 
    margin-top: -40px; 
    animation: rotate-hour 43200s linear infinite;
}

@keyframes rotate-sec {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-min {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-hour {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


