body {
    font-family: Arial, sans-serif;
    background-color: #0000004a;
    color: #000000;
    margin: 0;
    list-style-type: disc;  
    list-style-type: circle;
    border: 2px solid #333; /* Borde sólido de 2 píxeles alrededor de toda la página */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio de relleno dentro del borde */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño total */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.Titulo {
    color: rgb(59, 3, 3); 
    text-align: center;
    font-size: 0px;
}

.Integrantes {
    color: rgb(104, 6, 6); 
    
}

h2 {
    color: rgb(104, 6, 6);   
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
    
}

p, li {
    line-height: 1.6;
}

a {
    border: 1px solid black;
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
   background-color: lightblue;
   list-style-type: circle
}

.contenedor {
    margin-top: 20px;
    text-align: center;
}



img {
    border: 3px solid rgb(104, 6, 6); /* Establece un borde sólido de 2px de ancho y negro */
    border-radius: 9px; /* Establece un radio de esquina de 8px */
    display: block;
    margin: auto;

}





